/* -------- PAGE CONTACT -------- */

.contact-page h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-page p {
    text-align: center;
    margin-bottom: 25px;
}

.contact-card {
    max-width: 600px;
    background: var(--card);
    margin: 0 auto;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text);
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #fff;
    font-size: 16px;
}

body[data-theme="dark"] .input-group input,
body[data-theme="dark"] .input-group textarea {
    background: #2a2a2a;
    color: white;
}

.contact-btn {
    width: 100%;
    padding: 12px;
    background: #0077ff;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-btn:hover {
    background: #005fcc;
}

.direct-mail {
    text-align: center;
    margin-top: 20px;
}

.direct-mail a {
    color: #0077ff;
    font-weight: bold;
}
